<div class="leaflet-maps">
    <div class="map-example-container">
        <h2>Basic map example</h2>
        <p>This is a basic example of <a href="https://leafletjs.com/" target="_blanc">Leaflet.js</a> map integration.</p>
        <div class="map-overlay">
            <app-leaflet-map class="leaflet-map" mapId="basicMap"></app-leaflet-map>
        </div>
    </div>

    <div class="map-example-container">
        <h2>Basic map example</h2>
        <p>This is a basic example of <a href="https://leafletjs.com/" target="_blanc">Leaflet.js</a> map integration.</p>
        <div class="map-overlay">
            <app-leaflet-map class="leaflet-map" mapId="cloudsMap" [layerId]="MapLayers.WROCLAW_TRANSPORT"></app-leaflet-map>
        </div>
    </div>
</div>