.form {
    padding-top: 1em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toolbar {
    display: flex;
    justify-content: flex-end;
}

.form-card {
    height: 25em;
    min-width: 20em;
    max-width: 25em;
}