$basic-primary-color: #bedaff;
$basic-accent-color: #ffb5de;
$basic-warn-color: #ffa69b;

$basic-background-color: rgb(250, 250, 250);

$dark-theme-text-color: #cacaca;

$mat-menu-item-label-text-color: #cacaca;

$html-dark-bg-color: #070F2B;

$wrapper-dark-bg-color: #1B1A55;

