$basic-primary-color: #bedaff;
$basic-accent-color: #ffb5de;
$basic-warn-color: #ffa69b;

$basic-background-color: rgb(250, 250, 250);

$dark-theme-text-color: #cacaca;

$mat-menu-item-label-text-color: #cacaca;

$card-shadow-light-color: #cacaca;

$html-dark-bg-color: #070F2B;

$wrapper-dark-bg-color: #1B1A55;
$cards-dark-bg-color: color(from $wrapper-dark-bg-color xyz calc(x + 0.01) calc(y + 0.01) z);

$nav-menu-dark-bg: #7c7ab8;
$nav-menu-light-bg: #cacaca;

$box-shadow-light: 3px 5px 10px $card-shadow-light-color;