@import '@angular/material';
@import './app/shared/styles/common-styles.scss';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background: lightgrey;
}